{% extends 'parent/base.html' %}

{% block title %}
    profile-image-edit
{% endblock %}

{% block content %}
    <div>
    <strong>تصویر پروفایل:</strong>
    {% if profile.profile_images.all %}
        <img src="{{ profile.profile_images.last.image_file.url }}" alt="{{ profile.profile_images.last.alt }}">
    {% else %}
        <p>هیچ تصویری وجود ندارد</p>
    {% endif %}
    <a href="{% url 'blog:profile_image_edit' %}">
        <button type="button">ویرایش</button>
    </a>
</div>
{% endblock %}
